.rec.rec-arrow {
    width: 30px;
    height: 30px;
    min-width: 30px;
    line-height: 30px;
    color: white;
    font-size: 1rem;
    background-color: #434756;
}
button.sc-bdvvaa.bSWeAW.rec.rec-arrow.rec.rec-arrow-left:hover{
    color: white;
    background-color: #979797;
}
button.sc-bdvvaa.bSWeAW.rec.rec-arrow.rec.rec-arrow-right:hover{
    color: white;
    background-color: #979797;
}
.sc-furvIG.kwvrzb:hover{
    background-color: #7D7E89
}
